@model ResumenMontosViewModel

<div class="contenedor-totales mb-3">
    <div>
        <strong>Depositos</strong>
    </div>
    <div class="activo">
        @Model.Ingreso.ToString("N")
    </div>

    <div>
        <strong>Retiros</strong>
    </div>
    <div class="pasivo">
        @Model.Gastos.ToString("N")
    </div>

    <div>
        <strong>Total</strong>
    </div>
    <div>
        @Model.Total.ToString("N")
    </div>
</div>