@model Categoria

@{
	ViewData["Title"] = "Borrar Categoria";
}

<h3 class="mb-3">Estat seguro de borrar la categoria @Model.Nombre?</h3>

<form asp-action="BorrarCategotia">
	<input type="hidden" asp-for="Id"/>

	<button class="btn btn-danger">Borrar</button>
	<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>